<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--全局过滤器-->
    <filter>
        <filter-name>GlobalFilter</filter-name>
        <filter-class>com.photograph_u.filter.GlobalFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GlobalFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--用户登录验证过滤器-->
    <filter>
        <filter-name>UserLoginValidateFilter</filter-name>
        <filter-class>com.photograph_u.filter.UserLoginValidateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/lookInfo</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/updatePassword</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/updateInfo</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/setHeadImage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/releaseNote</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/admireNote</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/deleteAdmire</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/commentNote</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/deleteMyComment</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/deleteOthersComment</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/listMyNotes</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/deleteMyNote</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/queryMyIdentity</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/requestToBePhotographer</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/listVerifyRecord</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/orderPhotographer</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/cancelOrder</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/listOrders</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/listOrdersWithPage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/followPhotographer</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/cancelFollow</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/listFollows</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserLoginValidateFilter</filter-name>
        <url-pattern>/user/reviewPhotographer</url-pattern>
    </filter-mapping>
    <!--管理员登录验证过滤器-->
    <filter>
        <filter-name>AdminLoginValidateFilter</filter-name>
        <filter-class>com.photograph_u.filter.AdminLoginValidateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminLoginValidateFilter</filter-name>
        <url-pattern>/admin/listUnTreatedVerifies</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminLoginValidateFilter</filter-name>
        <url-pattern>/admin/listUnTreatedVerifiesWithPage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminLoginValidateFilter</filter-name>
        <url-pattern>/admin/listTreatedVerifies</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminLoginValidateFilter</filter-name>
        <url-pattern>/admin/listTreatedVerifiesWithPage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminLoginValidateFilter</filter-name>
        <url-pattern>/admin/verifyPhotographerQualified</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminLoginValidateFilter</filter-name>
        <url-pattern>/admin/verifyPhotographerUnQualified</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminLoginValidateFilter</filter-name>
        <url-pattern>/admin/addStyle</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminLoginValidateFilter</filter-name>
        <url-pattern>/admin/deleteStyle</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminLoginValidateFilter</filter-name>
        <url-pattern>/admin/listStyles</url-pattern>
    </filter-mapping>
    <!--摄影师验证过滤器-->
    <filter>
        <filter-name>PhotographerLoginValidateFilter</filter-name>
        <filter-class>com.photograph_u.filter.PhotographerLoginValidateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PhotographerLoginValidateFilter</filter-name>
        <url-pattern>/photographer/lookInfo</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PhotographerLoginValidateFilter</filter-name>
        <url-pattern>/photographer/updateInfo</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PhotographerLoginValidateFilter</filter-name>
        <url-pattern>/photographer/addPhoto</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PhotographerLoginValidateFilter</filter-name>
        <url-pattern>/photographer/deletePhoto</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PhotographerLoginValidateFilter</filter-name>
        <url-pattern>/photographer/listUnTreatedOrders</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PhotographerLoginValidateFilter</filter-name>
        <url-pattern>/photographer/listUnTreatedOrdersWithPage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PhotographerLoginValidateFilter</filter-name>
        <url-pattern>/photographer/listTreatedOrders</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PhotographerLoginValidateFilter</filter-name>
        <url-pattern>/photographer/listTreatedOrdersWithPage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PhotographerLoginValidateFilter</filter-name>
        <url-pattern>/photographer/receiveOrder</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PhotographerLoginValidateFilter</filter-name>
        <url-pattern>/photographer/refuseOrder</url-pattern>
    </filter-mapping>
</web-app>